{% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
    {% for message in messages %}
        <div class="alert-box {{ label }}-alert" role="alert" id="alert-box">
            <p><strong>{{ message|nl2br }}</strong></p>
            <a role="button" class="icon-close-alert">
                <i class="fa-solid fa-xmark"></i>
            </a>
        </div>
    {% endfor %}
{% endfor %}
<div class="alert-box success-alert" role="alert" id="alert-box">
    <p class="flex-grow-1 mb-0"><strong>Ceci est un message flash de test !</strong></p>
    <a role="button" class="icon-close-alert">
        <i class="fa-solid fa-xmark"></i>
    </a>
</div>