<footer>
    <img src="{{ asset('/build/images/wave-divider.png') }}" alt="footer divider"
         class="footer-divider">
    <div class="social-networks">
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-facebook"></i>
        <a href="https://github.com/Nerym492/SnowTricks" target="_blank">
            <i class="fa-brands fa-github"></i>
        </a>
    </div>
    <p>2023 © Snowtricks. All rights reserved.</p>
</footer>