<footer>
    <img src="{{ asset('/build/images/wave-divider.png') }}" alt="footer divider"
         class="footer-divider">
    <div class="social-networks">
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-github"></i>
    </div>
    <p>2023 © Snowtricks. All rights reserved.</p>
</footer>