<header class="head-trick-details">
    <img src="{{ path(
        'get_trick_image',
        {'groupName': nomGroupeTrick, 'trickName': trick.nom,'imageName': headerImage.nomFichier}
    ) }}" alt="image {{ trick.nom }}">
    <h1>{{ trick.nom }}</h1>
</header>