<header class="head-trick-details">
    <img src="{{ path(
        'get_trick_image',
        {'groupName': groupTrickName, 'trickName': trick.name,'imageName': headerImage.fileName}
    ) }}" alt="image {{ trick.name }}">
    <h1>{{ trick.name }}</h1>
</header>