<header class="masthead" style="background-image: url({{ asset('build/images/snowboarding-wallpaper.jpg') }});">
    <img src="{{ asset('/build/images/top-section-divider.png') }}" alt="section divider top"
         class="section-divider divider-top">
    <h1 id="header-title">
        <span class="split-title">Dive</span>
        <span class="split-title">into the world</span>
        <span class="split-title">of</span>
        <span class="split-title">extreme snowboarding</span>
    </h1>
    <a href="#trick-list">
        <i class="fa-solid fa-arrow-down arrow header-arrow"></i>
    </a>
</header>