<header class="masthead" style="background-image: url({{ asset('build/images/snowboarding-wallpaper.jpg') }});">
    <h1 id="header-title">
        <span class="split-title">Dive</span>
        <span class="split-title">into the world</span>
        <span class="split-title">of</span>
        <span class="split-title">extreme snowboarding</span>
    </h1>
    <a href="#trick-list">
        <i class="fa-solid fa-arrow-down arrow header-arrow"></i>
    </a>
</header>