<header class="head-trick-details">
    {% if headerImage is not empty %}
        <img src="{{ path(
            'get_trick_image',
            {'trickName': trick.name,'imageName': headerImage.fileName}
        ) }}" alt="image {{ trick.name }}">
    {% else %}
        <img src="/build/images/image-placeholder.jpg" alt="Image placeholder">
    {% endif %}
    <h1>{{ trick.name }}</h1>
</header>