<nav class="head-nav">
    <img src="{{ asset('build/images/white-Snowtricks-logo.png') }}" alt="Snowtricks logo">
    <ul class="head-list">
        <li><a href="/home">Home</a></li>
        <li>Tricks</li>

        {% if app.user %}
            <li><a href="/logout">Log out</a></li>
        {% else %}
            <li><a href="/login">Log in</a></li>
            <li><a href="/register">Register</a></li>
        {% endif %}
    </ul>
    {% if showDivider %}
        <img src="{{ asset('/build/images/bot-section-divider.png') }}" alt="section divider bottom"
             class="section-divider divider-bot">
    {% endif %}
</nav>