<nav class="head-nav">
    <img src="{{ asset('build/images/Snowtricks-logo.png') }}" alt="logo">
    <ul class="head-list">
        <li><a href="/home">Home</a></li>
        <li>Tricks</li>
        <li>Sign in</li>
        <li>Sign up</li>
    </ul>
</nav>