<nav class="head-nav">
    <img src="{{ asset('build/images/logos/Snowtricks-logo.png') }}" alt="logo">
    <ul class="head-list">
        <li>Home</li>
        <li>Tricks</li>
        <li>Sign in</li>
        <li>Sign up</li>
    </ul>
</nav>