<nav class="head-nav">
    <img src="{{ assets('images/') }}" alt="logo">
    <ul class="head-list">
        <li>Home</li>
        <li>Tricks</li>
        <li>Sign in</li>
        <li>Sign up</li>
    </ul>
</nav>