<nav class="head-nav">
    <img src="{{ asset('build/images/Snowtricks-logo.png') }}" alt="logo">
    <ul class="head-list">
        <li><a href="/home">Home</a></li>
        <li>Tricks</li>
        <li><a href="/login">Log in</a></li>
        <li><a href="/register">Register</a></li>
    </ul>
</nav>