<div id="trick-list">
    <section class="tricks-section" id="trick-section-home">
        {% for trick in tricks %}
            <div class="trick-preview" id="trick-{{ trick.data.id }}">
                <a href="/tricks/details/{{ trick.data.id }}">
                    <figure class="image-trick-list">
                        <img src="{{ path(
                            'get_trick_image',
                            {'groupName': trick.group_name, 'trickName': trick.data.name,'imageName': trick.fileName}
                        ) }}" alt=""/>
                    </figure>
                </a>
                <div class="trick-description">
                    <h2>{{ trick.data.name }}</h2>
                </div>
            </div>
        {% endfor %}
    </section>
    {% if hiddeLoadButton is empty %}
        <div class="center">
            <button class="btn-arrow--black btn-trick-list" id="btn-load-more-tricks">Load more</button>
        </div>
    {% endif %}
</div>




