<section class="tricks-section">
    <div class="trick-preview">
        <figure>
            <img src="{{ path('get_trick_image',{'groupName': 'Grabs', 'trickName': 'Indy','imageName': 'IndyGrab-646f1c86a6297.jpg'}) }}"
                 alt=""/>
        </figure>
        <div class="trick-description">
            <h2>Trick 1</h2>
        </div>
    </div>
    <div class="trick-preview">
        <figure>
            <img src="{{ path('get_trick_image',{'groupName': 'Grabs', 'trickName': 'Indy','imageName': 'IndyGrab-646f1c86a6299.jpg'}) }}" alt=""/>
        </figure>
        <div class="trick-description">
            <h2>Trick 2</h2>
        </div>
    </div>
    <div class="trick-preview">
        <figure>
            <img src="https://picsum.photos/id/103/800/450" alt=""/>
        </figure>
        <div class="trick-description">
            <h2>Trick 3</h2>
        </div>
    </div>
</section>