@mixin standard-btn($background-color, $border-color, $color, $width) {
  width: $width;
  font-family: Montserrat, serif;
  background: $background-color;
  border: $border-color 2px solid;
  border-radius: 2px;
  color: $color;
  line-height: 0.7;
  margin: 0.5em;
  padding: 10px 15px;
  transition: 0.25s ease-in-out;
}

@mixin btn-slide-effect($background-color, $color, $width) {
  cursor: pointer;
  color: $background-color;
  box-shadow: inset $width 0 0 0 $color;
}

@mixin btn-close-effect($background-color, $color, $width) {
  color: $color;
  box-shadow: inset calc(-1 * ($width / 2)) 0 0 0 $background-color, inset calc($width / 2) 0 0 0 $background-color;
}

@mixin object-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin set-border-properties (
  $horizontal-border-width,
  $horizontal-border-height,
  $horizontal-border-x-axis,
  $horizontal-border-top,
  $horizontal-border-bottom,
  $vertical-border-width,
  $vertical-border-height,
  $vertical-border-x-axis,
  $vertical-border-y-axis,
) {
  &.isheader-top {
    top: $horizontal-border-top;
    right: $horizontal-border-x-axis;
    width: $horizontal-border-width;
    height: $horizontal-border-height;
  }

  &.isheader-right {
    right: $vertical-border-x-axis;
    top: $vertical-border-y-axis;
    width: $vertical-border-width;
    height: $vertical-border-height;
  }

  &.isheader-bot {
    bottom: $horizontal-border-bottom;
    left: $horizontal-border-x-axis;
    width: $horizontal-border-width;
    height: $horizontal-border-height;
  }

  &.isheader-left {
    left: $vertical-border-x-axis;
    top: $vertical-border-y-axis;
    width: $vertical-border-width;
    height: $vertical-border-height;
  }
}