<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('styles') }}
        {% endblock %}

        {% block scripts_head %}{% endblock %}
        <script src="https://kit.fontawesome.com/d3a0bd80a1.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="page-container">
            {% include 'partials/navbar.html.twig' %}
            {% block header %}
                {% include 'partials/header.html.twig' %}
            {% endblock %}
            {% block content %}{% endblock %}
        </div>
        {% block scripts_end_body %}{% endblock %}
    </body>
</html>
