$divider-height: 50px;
$medium-divider-height: 20px;
$small-divider-height: 15px;

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #323639;
  color: #FFF;
  padding: 60px 0;
  margin-top: 40px + $divider-height;

  .social-networks {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .social-networks a {
    color: #FFF;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  i {
    font-size: 30px;
    margin-right: 20px;
  }

  i:last-child {
    margin-right: 0;
  }

  p {
    margin-bottom: 0;
  }
}

.footer-divider {
  position: absolute;
  top: (-1 * $divider-height) + 1;
  left: 0;
  width: 100%;
  height: $divider-height;
}

@media (max-width: $medium-screens) {
  footer {
    margin-top: 40px + $medium-divider-height;
  }

  .footer-divider {
    top: (-1 * $medium-divider-height) + 1;
    height: $medium-divider-height;
  }
}

@media (max-width: $small-screens) {
  footer {
    margin-top: 40px + $small-divider-height;
  }

  .footer-divider {
    top: (-1 * $small-divider-height) + 1;
    height: $small-divider-height;
  }
}