.form {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 400px;
  justify-content: center;
  grid-row-gap: 16px;

  .trick-description {
    height: 200px!important;
  }

  .form-control:focus {
    box-shadow: 0 0 8px 5px rgba($steel-blue, 0.6);
    border-color: $steel-blue;
  }

  .form-select:focus {
    box-shadow: 0 0 8px 5px rgba($steel-blue, 0.6);
    border-color: $steel-blue;
  }
}

.trick-form {
  &-file {
    font-family: Montserrat, serif;
    font-size: 14px;
  }

  &-file::file-selector-button {
    @include standard-btn(none, $steel-blue, $steel-blue, 170px)
  }

  &-file::file-selector-button:hover {
    @include btn-slide-effect(#FFF, $steel-blue, 170px);
  }
}

.image-file-actions {
  margin-top: 8px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.border-isheader {
  position: absolute;

  &.isheader-top {
    top: -13px;
    right: 18px;
  }

  &.isheader-right {
    right: -10px;
    top: 20px;
  }

  &.isheader-bot {
    bottom: 42px;
    left: 18px;
  }

  &.isheader-left {
    left: -10px;
    top: 20px;
  }
}

.trick-image-item {
  position: relative;
}

