.head-nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
  font-family: norwester, serif;
}

.head-list {
  display: flex;
  align-items: center;
  padding: 0;

  li {
    list-style-type: none;
    margin: 0 15px;
  }
}


