.trick-container {
  max-width: 1136px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;

  @media (max-width: 1193px) {
    margin: 0 20px;
  }
}

.medias-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 352px);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 0 20px;
  transition: width 300ms, height 300ms;
}


.head-trick-details{
  height: 40%;
  display: flex;
  justify-content: center;
  color: #FFF;
  margin-top: 30px;

  img {
    z-index: 0;
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 10px;
  }

  h1 {
    position: absolute;
    z-index: 1;
  }
}

.trick-video {
  width: 100%;
  aspect-ratio: 16/9;
  border: 0;

  &-preview {
    height: 198px;
  }
}

.image-trick-details {
  width: 100%;
  aspect-ratio: 16/9;

  &.img-form {
    border-radius: 10px;
  }
}

.trick-detail-description {
  grid-column: 1 / -1;
  padding: 0 20px;

  h2 {
    text-align: center;
    margin-bottom: 40px;
  }
}

.trick-informations {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  &-item {
    margin-right: 20px;
    background: #AAA;
    padding: 5px;
    border-radius: 5px;
  }

  &-item:last-child {
    margin-right: 0;
  }
}

.comment-section {
  margin-top: 40px;

  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
}

.comment-list {
  display: grid;
  justify-content: center;
  grid-template-columns: 500px;
  border-top: 1px solid #bdbdbd;
}

.alert-box-container + .comment {
  margin-top: 20px;
}

.comment {
  display: flex;
  margin-bottom: 20px;
  align-items: center;

  img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 15px;
  }

  &:nth-child(1) {
    margin-top: 20px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &-user-info {
    margin-top: 0;
    margin-bottom: 0.25rem;
  }

  &-text {
    margin: 0;
    font-size: 0.9rem;
  }
}

.header-img-zoom-in {
  animation: zoomIn;
  animation-duration: 700ms;
}

.img-item-zoom-out {
  animation: zoomOut;
  animation-duration: 300ms;
}

.img-item-zoom-in {
  animation: zoomIn;
  animation-duration: 400ms;
}