@import '../sections/trick-section';

.trick-list {
  position: relative;
}

.trick-preview {
  border-radius: 15px;
  box-shadow: -3px -3px 18px 4px rgba(0, 0, 0, 0.29);
  overflow: hidden;

  h2 {
    text-align: start;
  }

  figure {
    border-bottom: #777 solid 1px;
    width: 100%;
    margin-block: 0;
    margin-inline: 0;
    overflow: hidden;
    aspect-ratio: 16/9;
  }

  img {
    transform-origin: center;
    transition: scale 0.4s ease-in-out;
    border-radius: 15px 15px 0 0;
    max-width: 100%;
  }

  img:hover {
    scale: 1.1;
    border-radius: 15px 15px 0 0;
  }

  .trick-description {
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .trick-description a {
    text-decoration: none;
    color: #000;
  }

  .trick-description i:last-child {
    margin-left: 10px;
  }

  .trick-name {
    font-size: 24px;
    margin: 12px 0;
  }
}

.trick-delete-button {
  cursor: pointer;
}

.text-modal {
  text-align: center;
  font-size: 20px;
}

.new-trick {
  display: flex;
  justify-content: center;
}

.link-new-trick {
  display: flex;
  align-items: center;
  margin-top: 30px;
  text-decoration: none;
  color: $steel-blue;
  transition: all 250ms ease-in-out;

  p {
    font-size: 20px;
    margin-bottom: 0;
    margin-left: 8px;
  }

  &:hover {
    color: $azurin-blue;
  }
}

.div-load-more {
  position: relative;
}

