.head-trick-details{
  height: 40%;
  display: flex;
  justify-content: center;
  color: #FFF;

  img {
    z-index: 0;
    max-height: 500px;
  }

  h1 {
    position: absolute;
    z-index: 1;
  }
}

.trick-video {
  width: 100%;
  aspect-ratio: 16/9;
}

.image-trick-details {
  width: 100%;
  aspect-ratio: 16/9;
}

.trick-description {
  grid-column: 1 / -1;

  h2 {
    text-align: center;
    margin-bottom: 40px;
  }
}

